.subscribe-button {
    background-color: rgb(202, 4, 4);
    color: white;
    border: none;
    height: 36px;
    width: 105px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 8px ;
    transition: opacity 0.15s;
}

.subscribe-button:hover {
    opacity: 0.8;
}

.subscribe-button:active {
    opacity: 0.5;
}

.join-button {
    background-color: rgb(255, 255, 255);
    border-color: rgb(13, 13, 197);
    border-style: solid;
    border-width: 1px;
    color: rgb(13, 13, 197);
    height: 36px;
    width: 62px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.15s,
        color 0.15s;
}

.join-button:hover {
    background-color: rgb(13, 13, 197);
    color: rgb(255, 255, 255);
}
.join-button:active {
    opacity: 0.7;
}

.tweet-button {
    background-color: rgb(2, 158, 218);
    color: white;
    border: none;
    height: 36px;
    width: 70px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    margin-left: 8px;
    cursor: pointer;
    transition: box-shadow 0.15s;
    
}

.tweet-button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.request-button {
    background-color: black;
    color: white;
    border: none;
    height: 36px;
    font-size: 13px;
    width: 100px;
    margin-left: 8px;
    cursor: pointer;
}